@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

a {
  color: #000;
  text-decoration: none;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo h2 {
  margin: 10px 24px;
  cursor: pointer;
  color: #28352F;
}

.nav-menu i {
  margin: 15px 24px;
  cursor: pointer;
}

.background-cover {
  background-image: url("./images/header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-text {
  text-align: center;
  margin-top: 64px;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #172B4D;
}

header span {
  color: #36B37E;
}

.welcome-txt {
  text-align: center;
  margin: 58px 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

.social-icons {
  text-align: center;
  margin-left: 102.42px;
  margin-right: 102.42px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-icons i {
  color: #505F79;
}

.button-img {
  margin-top: 79px;
  margin-bottom: 22px;
  text-align: center;
}
