@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
}

.container {
  margin: 12px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 12px;
}

header a {
  color: #28352f;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
}

.menu-icon i {
  width: 100%;
  cursor: pointer;
}

.desk-version {
  display: none;
}

.home-page {
  background-image: url(./IMG/header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

hgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 58px 0;
  text-align: center;
}

hgroup h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

hgroup h1:first-child {
  color: #172b4d;
}

hgroup h1:last-child {
  color: #36b37e;
}

.home-text {
  text-align: center;
}

footer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.home-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

.social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin: 58px 0 30px 0;
}

.social-icons i {
  color: #42526e;
  font-size: 21px;
}

.drop-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.work-section {
  width: 100%;
  margin-bottom: 80px;
}

.section-title {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.section-title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.green-line {
  display: flex;
  justify-content: center;
}

.green-line hr {
  border-bottom: 4px solid #36b37e;
  width: 48px;
  text-align: center;
  border-radius: 2px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px;
  margin: 58px 12px;
  align-items: center;
}

.grid-items {
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  height: 100%;
  gap: 5px;
}

.project-img img {
  width: 100%;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-title h4 {
  margin: 16px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
  color: #3a4a42;
}

.project-technologies {
  margin: 0 11px 29px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.project-technologies li {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
  background: #ebf0ee;
  padding: 8px 12px;
  border-radius: 4px;
}

.project-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  transition: 0.6s;
}

.project-btn:hover {
  transform: scale(1.2);
}

.project-btn button {
  outline: none;
  border: none;
  padding: 12px;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.project-btn button:hover {
  background: #52d49e;
}

.project-btn button:active {
  background: #008552;
}

.about-section {
  margin-bottom: 80px;
  background-image: url(./IMG/illustration2.svg), url(./IMG/illustration.svg);
  background-position: top -30px right, left bottom 20px;
  background-repeat: no-repeat;
  background-size: auto;
}

.about-text {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 24px;
  margin-bottom: 40px;
  text-align: center;
}

.about-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #344563;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-img {
  margin-top: 50px;
}

.about-img img {
  width: 100%;
}

.about-title {
  text-align: center;
}

.about-title,
.tech-wrap,
.about-technologies {
  display: flex;
}

.about-title h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
  margin-bottom: 24px;
}

.about-technologies {
  justify-content: center;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 20px;
}

.tech-wrap {
  align-items: center;
  flex-direction: column;
}

.about-technologies li {
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
}

.flex-item {
  flex-basis: 30%;
  background: #ebf0ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ebf0ee;
}

.flex-item-2 {
  flex-basis: 30%;
  background: #ebf0ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ebf0ee;
  margin-top: 10px;
}

.flex-item-3 {
  flex-basis: 30%;
  background: #ebf0ee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ebf0ee;
  margin-top: 10px;
}

.contact-section {
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

input[type="text"],
input[type="email"] {
  width: 300px;
  padding: 10px;
  margin: 5px;
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
}

textarea {
  width: 300px;
  padding: 10px;
  margin: 5px;
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.contact-btn {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  border-radius: 4px;
  background: #36b37f;
  width: 200px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 0.7s;
}

.contact-btn:hover {
  background: #52d49e;
  transform: scale(1.2);
}

.contact-btn:active {
  background: #008552;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.black-line {
  display: flex;
  justify-content: center;
  margin-top: 400px;
}

.black-line hr {
  border-bottom: 4px solid #161616;
  width: 150px;
  text-align: center;
  border-radius: 2px;
}

.line-break {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    margin: 24px;
  }

  header {
    margin: 24px;
  }

  header .logo {
    display: none;
  }

  .mobile-nav #menu-icon {
    display: none;
  }

  .desktop-nav {
    width: 100%;
  }

  .desk-version {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .social-icons {
    gap: 21px;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  input[type="text"],
  input[type="email"] {
    width: 500px;
    padding: 20px;
    margin: 10px;
  }

  textarea {
    width: 500px;
    padding: 20px;
    margin: 10px;
  }

  .contact-btn {
    padding: 15px;
    width: 300px;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-image: url(./Desk-IMG/footing-bg-1-desktop.svg), url(./Desk-IMG/footing-bg-2-desktop.svg), url(./Desk-IMG/footing-bg-3-desktop.svg);
    background-position: bottom 80px left, bottom 160px center, bottom 100px right;
    background-size: auto;
    background-repeat: no-repeat;
  }

  .container {
    margin: 30px 94px;
  }

  header {
    margin: 34px;
  }

  .main-background {
    background-image: url(./Desk-IMG/Header-llustration-desktop@2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .home-page {
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .social-icons {
    gap: 22px;
  }
  
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-items {
    gap: 1%;
  }

  .flex-container {
    flex-direction: row;
  }

  .flex-item {
    flex-basis: 32%;
  }

  .flex-item-2 {
    flex-basis: 32%;
    margin-top: 0;
  }

  .flex-item-3 {
    flex-basis: 32%;
    margin-top: 0;
  }

  input[type="text"],
  input[type="email"] {
    width: 500px;
    padding: 20px;
    margin: 10px;
  }

  textarea {
    width: 500px;
    padding: 20px;
    margin: 10px;
  }

  .contact-btn {
    padding: 15px;
    width: 300px;
  }

  .contact-section {
    display: flex;
    flex-direction: row;
  }

  footer {
    margin-bottom: 5px;
  }

  .black-line {
    margin-top: -10px;
  }

  .black-line hr {
    display: none;
  }

  footer p {
    display: none;
  }

  .line-break {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dfe1e6;
    text-align: center;
    border-radius: 2px;
  }
}
